<h1>All the users!</h1>

<%# ruby code that will not be printed%>
<%#= ruby code that we want to render%> 


<ul>
    <% @users.each do |user| %>
        <li>
        <a href="<%= user_url(user) %>"> <%= user.name %></a>
        
        <%# want to add delete button, but forms can only make get/post %>
        <form action="<%= user_url(user) %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete cat">
       
        </form>
        </li>
    <% end %>
</ul>