<h1>Add User to our database!!</h1>

<%# action: url to which we want to send data  %>
<%# method: http method that we want to use  %>

<%# action= also accepts users_url  %>
<form action="/users" method="post">
    <label for="username">Name</label>
    <input id="username" type="text" name="user[name]">

    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]">


    <input type="submit" value="Add user to library">
</form>
