<h1>Add User to our database!!</h1>

<%# action: url to which we want to send data  %>
<%# method: http method that we want to use  %>

<%# action= also accepts users_url  %>
<form action="/users" method="post">
    <label for="username">Name</label>
    <input id="username" type="text" name="user[name]">

    <br>

    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]">

    <br>

    <%# Showing calender option
    <label for="year">Year</label>
    <input id="year" type="date" name="user[year]"> %>

    <label for="category">Category</label>
    <select id="Category" name="user[category]">
        <option disabled selected>--Please Select--</option>

        <option value="Hero">Hero</option>
        <option value="Villain">Villain</option>
        <option value="Civilian">Civilian</option>
        <option value="Police">Police</option>
    </select>

    <br><br>


    <label for="description">Description</label>
    <textarea name="user[description]"></textarea>


    <input type="submit" value="Add user to library">
</form>